<div class="contain_all">
    <div class="buttons">
        <div (click)="filter(1)">Following</div>
        <div (click)="filter()">All</div>
        <div (click)="filter(2)">Not following</div>
    </div>
    <div class="clubs">
        <div class="club" *ngFor="let club of showedClubs">
            <div class="imageContainer">
                <img src={{club.image}}>
            </div>
            <div>
                {{club.name}}<br>
                <span *ngIf="club.text">{{club.text}}</span>
                <span *ngIf="!club.text">There is no description for this club</span>
                <br>
                <button *ngIf="!followingClubsIDs.includes(club.id)" (click)="toggleFollow(club.id)">Follow</button>
                <button *ngIf="followingClubsIDs.includes(club.id)" (click)="toggleFollow(club.id)"><span style="color: red;">Following</span></button>
            </div>

        </div>
    </div>
</div>
